@font-face {
    font-family: mainfont;
    src: url(bpg_glaho.ttf);
}

@font-face {
    font-family: maincaps;
    src: url(bpg_mrgvlovani.ttf);
}


#title {
  color: black;

}

#driver_profile
{float:right;
height:90px;
border:2px solid white;
margin-top:5px;
}