@font-face {
    font-family: mainfont;
    src: url(www/resources/bpg_glaho.ttf);
}


#title {
  color: black;

}

#driver_profile
{float:right;
height:90px;
border:2px solid white;
margin-top:5px;
}